body {
    padding-top: 70px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.permalink {
    font-size: 0.6em;
    text-decoration: none;
}

.carousel-caption .permalink {
    color: white;
}

.carousel-caption .permalink a,
.carousel-caption .permalink a:link,
.carousel-caption .permalink a:visited,
.carousel-caption .permalink a:focus,
.carousel-caption .permalink a:active   {
    color: white;
    text-decoration: none;
}