body {
    padding-top: 70px;
}

.footer {
    padding: 30px 0;
    margin-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.footer .col-md-1 p {
  text-align: right;
}

.footer .col-md-3 p {
  text-align: left;
}

.footer .col-md-4 p {
  text-align: center;
}


.footer p {
    color: #777;
}

.permalink {
    font-size: 0.6em;
    text-decoration: none;
}

.carousel-caption .permalink {
    color: white;
}

.carousel-caption .permalink a,
.carousel-caption .permalink a:link,
.carousel-caption .permalink a:visited,
.carousel-caption .permalink a:focus,
.carousel-caption .permalink a:active   {
    color: white;
    text-decoration: none;
}

.jumbotron table {
  margin-top: 50px;
}

.jumbotron table img {
  width: 50px;
}

footer img {
  width: 20px;
}