<!DOCTYPE html>
<html lang="en" ng-app="FDM">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Fredagsmoro</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/fdm.css" rel="stylesheet"/>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>

</head>
<body ng-controller="AppController">

<ng-include src="'nav.html'"></ng-include>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <h1>{{ title }}</h1>

                <div ng-repeat="file in files | orderBy:file">
                    <p>
                        <img ng-src="{{ file.src }}"/>
                        <br/>
                        <a class="permalink" target="_blank" href="{{ file.src }}">image link</a>
                    </p>
                </div>
                <p>{{ author }}</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default" ng-repeat="year in pageTree | orderBy:'-name'">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ year.name }}</h3>
                </div>
                <table class="table">
                    <tr ng-repeat="month in year.tree | orderBy:'-name'">
                        <th>{{ month.name }}</th>
                        <td ng-repeat="day in month.tree | orderBy:'day'">
                            <a  ng-click="load(year.name, month.name, day.name, day.tree)">{{ day.name }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <footer class="footer">
            <p>Ba Dum Tish</p>
        </footer>
    </div>
</div>


<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>