<div ng-controller="ShowController as sc">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" ng-href="#/{{ sc.year }}/{{ sc.month }}/{{ sc.day }}">View as list</a>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" disabled>Speed: </button>
            <a class="btn" ng-class="(sc.slideInterval==3000) ? 'btn-success' : 'btn-info'" ng-click="sc.setSpeed(3000)">3s</a>
            <a class="btn" ng-class="(sc.slideInterval==5000) ? 'btn-success' : 'btn-info'" ng-click="sc.setSpeed(5000)">5s</a>
            <a class="btn" ng-class="(sc.slideInterval==10000) ? 'btn-success' : 'btn-info'" ng-click="sc.setSpeed(10000)">10s</a>
            <a class="btn" ng-class="(sc.slideInterval==-1) ? 'btn-success' : 'btn-info'" ng-click="sc.setSpeed(-1)">Pause</a>
        </div>
    </div>

    <h1>{{ sc.title }}</h1>

    <div>
        <carousel interval="sc.slideInterval">
            <slide ng-repeat="file in sc.files | orderBy:'src'">
                <img ng-src="{{file.src}}" style="margin:auto;">

                <div class="carousel-caption">
                    <p><a class="permalink" target="_blank" href="{{ file.src }}">image link</a></p>
                </div>
            </slide>
        </carousel>
    </div>
</div>